<h2>Products</h2>

<div>
  <% @products.each do |product| %>

  <div>
    <h3>Name: <%= product.name %></a></h3>
    <p>Description: <%= product.description%></p>
    <p>Manufacturer: <%= product.manufacturer.name %></p>
    <p>Quantity: <%= product.quantity%></p>
    <p>Cost: <%= product.cost%></p>
    <p>Price: <%= product.price%></p>
  </div>

  <% end %>
</div>
