<div id="product-wrapper" Class="scroll_style" Class="product">
  <% @products.each do |product| %>

  <div>
    <h3>Name: <%= product.name %></a></h3>
    <p>Description: <%= product.description%></p>
    <p>Manufacturer: <%= product.manufacturer.name.capitalize%></p>
    <p>Category: <%= product.category.worth.capitalize%></p>
    <p>Quantity: <%= product.quantity%></p>
    <p>Cost: <%= product.cost%></p>
    <p>Price: <%= product.price%></p>
    <p>Mark_up: <%= product.mark_up %> </p>
  </div>
<div>
 <%= product.stock_level %>
</div>
  <% end %>
</div>
